[Unit]
Description=Run Mad API error monitor every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=mad-api-error-alert.service

[Install]
WantedBy=timers.target
